// Colors

$base-color: #eeeeee;
$highlight-color: #7496fb;
$border-highlight-color: #21c0ff;
$background-color: #21c0ff;
$background-highlight-color: #eaeaea;
$border-color: #c1c1c1;

// Font
$font: sans-serif;
