* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #000;
  background: #fff;
}

h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  width: min(1400px, calc(100% - 24px));
  margin: 12px auto;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  background: #fff;
}
